@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {

  .header {
    left: 56px;
    top: 32px;
    right: 0;
  }
  /* Home Page */

  /* SMALL PHONE */

  .home-bg,
  .crew-bg,
  .technology-bg,
  .destination-bg {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-bg {
    background-image: url("/public/assets/home/background-home-mobile.jpg");
  }

  /* Crew Page  BIRUSHA */

  .crew-bg {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
  }

  /* Destination Page  WILLIAM   */
  .destination-bg {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
  }

  /* Technology Page  WILLIAM */
  .technology-bg {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }

  @media (min-width: 640px) {

    /* TABLET */
    .home-bg {
      background-image: url("/assets/home/background-home-tablet.jpg");
    }

    .crew-bg {
      background-image: url('/assets/crew/background-crew-tablet.jpg');
    }

    .destination-bg {
      background-image: url('/public/assets/destination/background-destination-tablet.jpg');
    }

    .technology-bg {
      background-image: url('/public/assets/technology/background-technology-tablet.jpg');
    }
  }

  @media (min-width: 1024px) {

    /* DESKTOP */
    .home-bg {
      background-image: url("/assets/home/background-home-desktop.jpg");
    }

    .crew-bg {
      background-image: url('/public/assets/crew/background-crew-desktop.jpg');
    }

    .destination-bg {
      background-image: url('/assets/destination/background-destination-desktop.jpg');
    }

    .technology-bg {
      background-image: url('/assets/technology/background-technology-desktop.jpg');
    }
  }
}