@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-image: url('/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  @media (min-width: 640px) {
    html {
      background-image: url('/background-destination-tablet.jpg');
      font-family: "Barlow Condensed", sans-serif;
      font-weight: normal;
      font-style: normal;
      background-image: url('/background-destination-mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      color: #fff;
    }
  }

  @media (min-width: 1024px) {
    html {
      background-image: url('/background-destination-desktop.jpg');
      font-family: "Barlow Condensed", sans-serif;
      font-weight: normal;
      font-style: normal;
      background-image: url('/background-destination-mobile.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
    }
  }
}

@layer utilities {

  .header {
    left: 56px;
    top: 32px;
    right: 0;
  }

  /* Home Page */

  /* SMALL PHONE */

  .home-bg,
  .crew-bg,
  .technology-bg,
  .destination-bg {
    background-repeat: no-repeat;
    background-size: cover;
  }



}